.cellWithBkg{
	background-image: url(terror2.png);
	
	background-repeat: no-repeat;
	background-size: 100%;
	color: #000;
}

body{
	background-color: #000;
	color: #fff;
	font-size: 20pt;
}

.movies{
	background-color: #000;
}
.significantOther{
	background-color: #343434;
}

.arcadian{
	background-color: #4B0A0A;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
ul{
	list-style-type: none;
	background-color: #000;
	overflow: hidden;
}

li a{
	float: left;
	display: block;
	width: 300px;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	color: #545454;
}
li a:hover{
	background-color: #fff;
}

.active{
	border-bottom: 2px solid #000;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

ul{
	list-style-type: none;
	background-color: #000;
	overflow: hidden;
}

li a{
	float: left;
	display: block;
	width: 300px;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	color: #545454;
}
li a:hover{
	background-color: #fff;
}

.active{
	border-bottom: 2px solid #000;
}
